html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.main-title {
    font-size: 15rem;
    padding-left: 250px;
    position: relative;
    bottom: 50px;
}
.main-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px;
}
.main-photo img {
    width: 95rem;
    border-radius: 10px 10px 10px 10px;

}

.subtitle {
    padding-right: 200px;
    text-align: right;
    position: relative;
    top: -200px;
}

header {
    padding: 0;
    background-color: rgb(221, 212, 212);

}

.site-header {
    margin: 15px;
    background-color: rgb(226, 219, 219);
    border-radius: 5px;
}


