
html,
body {
    scroll-behavior:smooth;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.main-page{
    max-width: 1500px;
    margin: 50px auto;
}

h1{
    margin: 0;
    padding: 0;
}

.main-title {
    font-size: clamp(3.5rem, 15vw, 20rem);
    line-height: 0.95;
    
    
}

.subtitle {
    margin-top: 8px;
    text-align: right;
}

.main-photo img {
    display: block;
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;

}
.icon img{
    width: 100%;
    max-width: 500px;
}
header {
    padding: 0;
    background-color: rgb(221, 212, 212);

}

.site-header {
    margin: 15px;
    background-color: rgb(226, 219, 219);
    border-radius: 5px;
}

        
        

